
table { 
   width: 100%;
  border-collapse: collapse;
  
  border-spacing: 0;
 
}


th { 
  background: blue; 
  color: white; 
   padding: 5px;
   border: 1px solid white;
  text-align: center;
  font-weight: bold; 
  font-size: 25px;
}
td { 
 padding: 1px;
 border: 2px dashed black;
  text-align: center; 
  font-size: 20px;
  color: blue;
  background-color: white;
}


td:hover {
          background-color: ;
        }
th:hover {
          background-color: red;
        }


@media screen and (max-width: 650px){
  .column {
    width: 100%;
    display: block;
  }
}


#myInput {
 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 20px;
  padding: 12px 10px 12px 10px;
  border: 2px solid green;
  border-radius: 10px;
  margin-bottom: 12px;
}

#myInput:hover {
color: blue;
background: ;
border: 2px solid red;
}